<ul>
    <%= f.fields_for :location_attributes do |location_form| %>
      <li>
        <%= location_form.label :country %>
        <%= location_form.text_field :country %>
      </li>
      <li>
        <%= location_form.label :state %>
        <%= location_form.text_field :state %>
      </li>
      <li>
        <%= location_form.label :city %>
        <%= location_form.text_field :city %>
      </li>
      <li>
        <%= location_form.label :street %>
        <%= location_form.text_field :street %>
       </li>

    <% end %>
</ul>