<div class="container" >
<%= link_to "Back", :back %>
	<h3> Hotels</h3>
	<% @hotels.each do |hotel| %>
	<div class="hotels">
		<h4><%= hotel.title %></h4>
		<p>Rating: <%= hotel.average_rating %> stars</p>
        <%= image_tag hotel.image.thumb.url %>
		<p><%= link_to "More details about this hotel", hotel_path(hotel) %></p>
	</div>
	<% end %>
<span><%= will_paginate @hotels %></span>
</div>
