
<p><%= @hotel.title %></p>
<p><%= @hotel.room_description %></p>
<p><%= @hotel.price_for_room %></p>
<p><%= @hotel.breakfast_included %></p>
<p><%= @hotel.location.country %></p>
<p><%= @hotel.location.state %></p>
<p><%= @hotel.location.city %></p>
<p><%= @hotel.location.street %></p>
<div>
	<%= image_tag @hotel.image.thumb.url %>
</div>
<% if current_user %>
<%= render 'rate_form' %>
<%= render 'comment_form' %>
<% end %>
<h4>This hotel have </h4>
<p><%= @hotel.average_rating %></p><h4> stars </h4>
<p>People say about this hotel </p>
<% @hotel.comments.each do |comment| %>
<p><%= comment.content %></p>
<p><%= comment.user.email %></p>
<% end %>
