
<p><%= @hotel.title %></p>
<p><%= @hotel.room_description %></p>
<p><%= @hotel.price_for_room %></p>
<p><%= @hotel.breakfast_included %></p>
<p><%= @hotel.location.country %></p>
<p><%= @hotel.location.state %></p>
<p><%= @hotel.location.city %></p>
<p><%= @hotel.location.street %></p>
<div>
	<%= image_tag @hotel.image.thumb.url %>
</div>